apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-vault-0
  namespace: vault
  labels:
    type: local
spec:
#  storageClassName: manual
  capacity:
    storage: 11Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/naster-ssd/data/vault-pods
