{
  "hosts": [
    "vault-0",
    "vault-2",
    "vault-3",
    "vault-4",
    "vault-5",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "ST": "Fort Worth",
      "L": "Texas"
    }
  ]
}