---
# tasks file for k8s-worker

# ensure this:
# https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#letting-iptables-see-bridged-traffic
- name: Gather facts
  setup:

- name: debug headnode
  debug:
    msg: "{{nventory_hostname}}"
  tags: head_node

- name: Head node configuration
  tags: head_node
  include: head_node.yml
  when: k8s_head_node == inventory_hostname


- name: Configure system
  include_tasks: conf.yml

- name: Install CNI
  include_tasks: cni.yml

- name: Install container runtime
  include_tasks: containerd.yml

- name: Install Kubernetes packages
  include: kube_packages.yml
  when: installer == "package"

- name: Install Kubernetes binaries
  include: kube_binaries.yml
  when: installer == "binary"

