frontend k8s-api
    bind {{ hostvars["localhost"].ansible_default_ipv4.address }}:443
    bind 127.0.0.1:443
    mode tcp
    option tcplog
    timeout client 300000
    default_backend k8s-api

backend k8s-api
    mode tcp
    option tcplog
    option tcp-check
	timeout server 300000
    balance roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
  {% for item in groups['k8s_controller'] -%}
    server {{ hostvars[item].inventory_hostname_short }} {{ hostvars[item]["ansible_"+hostvars[item]["public_if"]].ipv4.address }}:{{ hap_port }} check
  {%- endfor %}
