{
  "CN": "{{ CN }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Fort Worth",
      "O": "{{ names_o }}",
      "OU": "Fort Worth",
      "ST": "Texas"
    }
  ]
}