---
- name: Unmount swap partition
  mount:
    name: swap
    fstype: swap
    state: absent

- name: Disable swap
  command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: Install apt packages for k8s nodes
  apt:
    update_cache: yes
    name:
      - netbase
      - netstat-nat
      - socat
      - conntrack
      - ipset
      - iptables
      - ethtool
      - ebtables

- name: Create k8s directories
  file:
    state: directory
    recurse: yes
    path: "{{ item }}"
    mode: 0700
    owner: root
    group: root
  loop:
    - /etc/cni/net.d
    - /opt/cni/bin
    - /var/lib/kubelet
    - /var/lib/kube-proxy
    - /var/lib/kubernetes
    - /var/run/kubernetes
    - /etc/containerd
    - /tmp/containerd

- name: Copy worker node certs
  copy:
    src: "{{ cert_dir }}/{{ item }}"
    dest: "/var/lib/kubernetes/{{ item }}"
  loop:
    - ca.pem
    - "{{ hostvars[inventory_hostname_short] }}-key.pem"
    - "{{ hostvars[inventory_hostname_short] }}.pem"