---
# ensure we get the kube-proxy.kubeconfig into this folder
- name: Copy kube-proxy.kubeconfig
  copy: 
    src: "{{ k8s_conf_files_dir }}/kube-proxy.kubeconfig"
    dest: /var/lib/kube-proxy/kubeconfig

- name: Create kube proxy config
  template:
    src: kube-proxy-config.yaml.j2
    dest: /var/lib/kube-proxy/kube-proxy-config.yaml
  notify:
  - Restart kube proxy service

- name: Create kube-proxy unit file
  copy:
    src: kube-proxy.service
    dest: /etc/systemd/system/kube-proxy.service
  notify:
  - Reload systemd units
  - Restart kube proxy service

- name: Enable and start kube-proxy service
  systemd:
    name: kube-proxy
    enabled: yes
    state: started