---
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ public_if }}:
      addresses:
      - {{ hostvars[inventory_hostname]['ansible_' + public_if].ipv4.address }}/24
      routes:
      - to: default
        via: {{ vm_pub_default_gw }}
        metric: 99
    {{ private_if }}:
      addresses:
      - {{ hostvars[inventory_hostname]['ansible_' + private_if].ipv4.address }}/24
      routes:
{% for item in k8s_nodes_group %}
{% if item != inventory_hostname %}
        # {{ item }} pod routes
        - to: {{ hostvars[item]["pod_cidr"] }}
          via: {{ hostvars[item]["ansible_"+hostvars[item]["private_if"]].ipv4.address }}
{% endif %}
{% endfor %}
